@import url("create_link.css");

.container {
    width: 480px;
    height: 317px;
    border-radius: 20px;
    background: #FFFFFF;
    background: linear-gradient(90deg, rgba(255, 255, 255, 1) 0%, rgba(255, 247, 237, 1) 100%);
    text-align: center;
}

.main__form {
    display: grid;
    justify-content: start;
    margin: 20px 24px 0px 24px;
    text-align: start;
}

.main__form__input {
    width: 432px;
}

.main__form__field--password {
    margin-top: 10px;
}

.main__form__submit {
    width: 432px;
}

.main__form__link--no-account {
    margin-top: 10px;
    font-size: 14px;
    font-weight: bold;
    font-style: italic;
    color: #584545;
    opacity: 33%;
    transition: opacity 0.3s ease;
}

.main__form__link--no-account:hover {
    opacity: 100%;
}